<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title></title>
  </head>
    <body class="text-center" style="background-color:black;">
    <form>
      <img class="mb-4" src="https://i.ibb.co/DYxN1fm/122290051-358161408735260-8957979510757164291-n.jpg" alt="" width="250">
      <h1 style="color:white;" class="h3 mb-3 font-weight-normal">Shortened Link</h1>
      <p style="color:white;" name="name">{{name}}</p>
      <p class="mt-5 mb-3 text-muted">Welcome to Prak EnTech's URL Shortening Site</p>
    </form>
  </body>
</html>